# ==========================
# MongoDB en local
# ==========================
# MONGO_URI=mongodb://localhost:27017/test

# ==========================
# MongoDB Atlas
# ==========================
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority

# Port du serveur
PORT=4000

# Clé secrète utilisée pour signer les JWT
JWT_SECRET=your_jwt_secret_here